{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Sedan:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Sedan:ital@0;1&display=swap" rel="stylesheet">
    <link href="{% static 'bookhub/mainpage.css' %}" rel="stylesheet">
</head>
<body>
    <section>
        <div class="content">

            <p class="font">Welcome to our online library</h6>
            <p>BookHub</p>
            
            
        </div>
        <div class="box">
            <div class="button">
                <a href="{% url 'signup' %}">
                    <button type="button" >sign up</button>
                </a>
                <a href="{% url 'signin' %}">
                    <button type="button" >log in</button>
    
                </a>
            </div>
        </div>

    </section>
    
</body>
</html>