<!DOCTYPE html>
<html>
<head>
    <title>Like Post App</title>
</head>
<body>
    <p id="message"></p>
    {% for book in books %}
    <h3>{{ forloop.counter }} {{ book.name }}</h3>
    <p>{{ book.description }} </p>
    <button class="likebutton" id="like{{book.id}}" data-catid="{{ book.id }}" data-user="{{ user.id }}">Like</button>
    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    $('.likebutton').click(function(){
        catid = $(this).attr("data-catid");
        userid = $(this).attr("data-user");
    
    $.ajax(
    {
        type:"POST",
        url: "bookhub"+userid+"/likepost",
        data:{
                 book_id: catid,
                 user_id: userid,
                 'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function( data ) 
        {
            $( '#like'+ catid ).remove();
            $( '#message' ).text(data);
        }
     })
});
</script>
</body>
</html>